<div>
  <header class="ecom-header">
    <button class="prepshop wbdr hand black webonly" (click)="gotoPreshop()">
      <i class="fa-solid fa-cart-shopping pt-lt-15"></i><br>
      <span>PrepShop</span>
    </button>
    <button class="prepshop wbdr hand black mobileonly" (click)="openNav()">
      <i class="fa-solid fa-cart-shopping pt-lt-15"></i><br>
      <span>PrepShop</span>
    </button>
    <button class="hello-address wbdr hand noshow black">
      <div class="hello "> {{this.preptalkService.userDetails.address.substring(0,15)}}..</div>
      <div class="select-address" style="width: 16rem;"> <img style="height: 20px;" src="assets/location-icon-red1.png"
          title="Select Your Address" alt="location">Address </div>
    </button>
    <div class="search-engine hand">
      <select class="select-search">
        <option value=""> All</option>
      </select>
      <input class="search-item" type="text" placeholder="Search The Item Here E.G. 'Mobiles', 'tv'"
        [(ngModel)]="searchedProduct">
      <button class="search-icon-btn black" [disabled]="searchedProduct==''" (click)="getSearchedResults()">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
    <div class="hello-address wbdr hand noshow" style="width: 12rem;" (click)="gotoOrders()">
      <div *ngIf="this.username.length==0" class="hello">{{"User Name"}}</div>
      <div *ngIf="this.username.length>0" class="hello">{{this.username}}</div>
      <div class="select-address">Your Orders</div>
    </div>
    <div class="usericon wbdr hand noshow" (click)="getAllCartsDetails()">
      <!-- <i style="color:#baba70" class="fa-solid fa-cart-plus fa-beat-fade fa-xl"></i> -->
      <i style="color:#baba70" class="fa-solid fa-cart-plus fa-xl"> </i>
      <span *ngIf="this.ecoservice.cartsCount.length<=10" class="badge">{{this.ecoservice.cartsCount.length}} </span>
      <span *ngIf="this.ecoservice.cartsCount.length>10" class="badge">10 + </span>
    </div>
    <div class="usericon wbdr hand noshow">
      <i *ngIf="this.username.length>0" class="fa-solid fa-user fa-xl" (click)="displayUserDetaills()">
      </i>
      <div class="user-details-div-main" *ngIf="displayUser">
        <div class="user-container Rob-med-16">
          Your Id : {{this.preptalkService.userDetails.userId}}
        </div>
        <div class="user-container Rob-med-16">
          User Name : {{this.preptalkService.userDetails.firstName}} {{this.preptalkService.userDetails.lastName}}
        </div>
        <div class="user-container Rob-med-16">
          Email : <span class=""> {{this.preptalkService.userDetails.emailId.substring(0,17)}}... </span>
        </div>
        <div class="user-container Rob-med-16">
          Address : {{this.preptalkService.userDetails.address.substring(0,15)}}..
        </div>
        <div class=" Rob-med-16 col-red txt-centre" (click)="gotoLogin()">
          LogOut
        </div>
      </div>
      <i *ngIf="this.username.length==0" class="fa-solid fa-user fa-beat-fade fa-xl"></i>
    </div>
  </header>
</div>
<div class="hamberger-main">
  <div class="all-txt wbdr hand" (click)="openNav()">
    <i class="fa-solid fa-bars"></i> <span style="margin-left: 2px;">All </span>
  </div>
  <div class="subheadings hand ">
    <button class="subheadings wbdr hand black noshow" (click)="gotoAvailableProducts()"> Mobiles </button>
    <button class="subheadings wbdr hand black " (click)="gotoSellProducts()"> Sell Your Product </button>
    <button class="subheadings wbdr hand black noshow"> Today's Best Deals </button>
    <button class="subheadings wbdr hand black noshow" (click)="offers()"> Offers </button>
    <button class="subheadings wbdr hand black noshow" (click)="GotoSuggestion()"> FeedBacks </button>
    <button class="subheadings wbdr hand black noshow"> Customer Care </button>
  </div>
  <div class="subheadings-video-tour wbdr hand"  (click)="offers()">
   click here for a video tour
     </div>
</div>


<!-- side new starts -->
<div id="mySidenav" class="sidenav" [ngClass]="{'closesidenav':!opensidenav,'opensidenav':opensidenav}">
  <div class="closebtn hand" (click)="closeNav()" style="top: 18px;color: white;">
    <span class="usernamesideNav">Hi Balaji</span>
    <span> &times;</span>
  </div>
  <a (click)="gotoPreshop()">Home</a>
  <a (click)="gotoAvailableProducts()">Products Available</a>
  <a (click)="gotoSellProducts()">Sell Your Product</a>
  <a (click)="getAllCartsDetails()">Carts</a>
  <a (click)="gotoOrders()">My Orders</a>
  <a (click)="GotoSuggestion()"> Give FeedBack</a>
  <a (click)="offers()">Video Tour</a>
  <a (click)="gotoLogin()">Login with Another Id</a>
</div>



<!-- side nev ends-->