<div style="max-width: 100%;overflow: hidden;">
    <app-menu></app-menu>
</div>
<div *ngFor="let feedBacks of feedBacks" class="pad-inl-8per " [ngClass]="{'changeMode':changeLightmode}" >
    <div class="pt-tp-5">
         <div class="ratings-and-reviews-main">
             <div class="pd-10 txt-centre">
                <div class="txt-end hand" (click)="chooseMode()">
                    <i class="fa-solid fa-circle-half-stroke"></i>
                </div>
             
                <div class="Rob-med-16" > 
                    
                    <marquee behavior="" direction="">Please Give Your Feedback About UI/Enhancement ...</marquee>
                
                </div>
                <div class="ratings-given Rob-med-16"> Ratings given :{{feedBacks.ratingsgiveby}}</div>
                <div class="Rob-med-16"> Reviews :{{feedBacks.productreviews.length}}</div>
            </div>
            <div class="main-ratings-starts pad-left-3per pad-right-3per"
                *ngFor="let reviews of feedBacks.productreviews">
                <div class="dis-flex ali-items-centr">
                    <div class="bor-50per profile-img-brdr bg-white ">
                     <img src="assets/profile.png" alt="reviewers profile"
                            class="imagesize bor-50per">
                    </div>
                    <div class="Rob-med-14 mar-left-1per dis-flex w-100">
                        <div> {{reviews.username}}</div>
                        <div class="ratings-img1">
                            {{reviews.ratings}} <img src="assets/ecommerce/star_ratings.svg" alt=""
                                style="margin-bottom: 3px;">
                        </div>
                    </div>
                </div>
                <div class="Rob-nor-14 mar-top-1per reviews-txt">
                    {{reviews.review}}
                </div>
                <div class="mar-top-1per user-reviews-disc opa-07">
                    <div class="Rob-med-14 opa-07 dis-flex"> 
                         <div class="noshow"> {{reviews.date | date:'dd-M-yyyy'}}</div>
                    </div>
                  </div>
             </div>
        </div>
    </div>
</div>

