.changeMode {
    background-color: #080808;
    color: white;
}

/* ratings and reviews */
.ratings-txt {
    display: flex;
    justify-content: center;
    width: fit-content;
    padding-inline: 1%;
    border-radius: 5px;
}

.ratings-img {
    height: 12px;
    margin-top: 15%;
}

.ratings-img1 {
    width: fit-content;
    padding-inline: 2%;
    background: green;
    color: whitesmoke;
    margin-left: 56%;
    border-radius: 5px;
}

.reviews-txt {
    word-wrap: break-word;
}

.profile-img-brdr {
    width: 9%;
    border-radius: 50%;
    /* border: 2px solid #fb8888; */
}

.main-ratings-starts {
    border: 1px solid #e1dfdf;
}

.user-reviews-disc {
    display: flex;
    justify-content: space-between;
    margin-right: 6%
}

/* replies starts here */
.ratings-img2 {
    width: 6%;

}

.profile-img-brdr1 {
    width: 6%;
}

.replies-txt {
    width: 100%;
}

.user-reviews-disc-replies {
    display: flex;
    justify-content: space-evenly;
    margin-right: 6%
}

@media Only screen and (max-width:412px) {
    .pad-inl-8per {
        padding-inline: 0%;
    }

}