.changeMode {
    background-color: #080808;
    color: white;
}

/* ratings and reviews */
.ratings-txt {
    display: flex;
    justify-content: center;
    width: fit-content;
    padding-inline: 1%;
    border-radius: 5px;
}

.ratings-img {
    height: 12px;
    margin-top: 15%;
}

.ratings-img1 {
    width: fit-content;
    padding-inline: 2%;
    color: whitesmoke;
   border-radius: 5px;
}

.reviews-txt {
    word-wrap: break-word;
}

.profile-img-brdr {
   color: black;
    border-radius: 50%;
    padding: 10px;
    font-family: Roboto medium;
    font-size: 16px;
    /* border: 2px solid #fb8888; */
}
.profileViolet{
    background: #E6E6FA;
}
.profilePink{
    background: #ffd1dc; 
}
.profileYellow{
    background: #ffe5b4; 
}
.profileOrchid{
    background: #E0B0FF; 
}
.profiledarkpink{
    background: #FDDDE6; 
}
.profilelitePink{
    background: #FFBCD9; 
}
.main-ratings-starts {
    border: 1px solid #e1dfdf;
}

.user-reviews-disc {
    display: flex;
    justify-content: space-between;
    margin-right: 6%
}

/* replies starts here */
.ratings-img2 {
    width: 6%;

}

.profile-img-brdr1 {
    width: 6%;
}

.replies-txt {
    width: 100%;
}

.user-reviews-disc-replies {
    display: flex;
    justify-content: space-evenly;
    margin-right: 6%
}

@media Only screen and (max-width:412px) {
    .pad-inl-8per {
        padding-inline: 0%;
    }
    .profile-img-brdr{
        padding: 5px;
        font-size: 14px;
    }

}