<router-outlet></router-outlet>
<!-- <app-footer></app-footer> -->

<div class="hand chatbot" *ngIf="show" (click)="openReviewPopup()">
  <div>
    <i class="fa-solid fa-comments fa-2xl" style="color: #4c76d6;"></i>
  </div>
</div>
<div class="reviews bg-white" *ngIf="openReview">
  <div class="hdr dis-flex-between Rob-med-16 pad-5per hand">
    <div>FeedBack </div>
    <div (click)="openReviewPopup()"> X </div>
  </div>
  <div class="reviewer-name-container">
    <div class="mar-left-8per txt-centre">
      <input type="text" name="UserName" id="UseId" placeholder="Your Name" [(ngModel)]="FeedUserName">
    </div>
    <div>
      <textarea [(ngModel)]="UserComments" name="Suggessions" id="Suggessions1" cols="30" rows="8"
        placeholder="your Suggesstions...."></textarea>
    </div>
    <div>
    </div>

  </div>
  <div class="dis-flx-jst-cntr hand pd-10 ">
    <span class="fa fa-star" [ngClass]="{'ratings-selected':newratings>=1}" (click)="selectRatings(1)"></span>
    <span class="fa fa-star" [ngClass]="{'ratings-selected':newratings>=2}" (click)="selectRatings(2)"></span>
    <span class="fa fa-star" [ngClass]="{'ratings-selected':newratings>=3}" (click)="selectRatings(3)"></span>
    <span class="fa fa-star" [ngClass]="{'ratings-selected':newratings>=4}" (click)="selectRatings(4)"></span>
    <span class="fa fa-star" [ngClass]="{'ratings-selected':newratings>=5}" (click)="selectRatings(5)"></span>
  </div>
  <div class="pad-left-3per">
    <div>
      <button class="w-100 ecommerce-shadowbtn-blue" (click)="submitReviews()">Submit </button>
    </div>
  </div>
</div>
<div *ngIf="productAddedTocart" class="success-message">
  <div class="dis-flx-jst-cntr Rob-med-14">
    Thank You {{FeedUserName}} For your FeedBack !!
  </div>
</div>