


.carts-main-container{
    background-color: #fbd8ff;
}
.mainc-images {
    justify-content: space-evenly;
}


.active-card {
    transition: all ease 0.2s;
}
.active-card:hover {
    scale: 0.99;
}

.cards-main {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    margin-left: 0.5%;
    width: 99%;
    margin-top: 1%;
    /* background-color: #e9ecef; */
}
.action-btns {
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
}
.productdetails {
    background: white;
    width: 300px;
    margin: 0.5%;
    /* background: #d333d617; */
    border-radius: 2%;
    border:  1px solid #e1dfdf;
}
.cartdetails{
    width: 300px;
    margin: 0.5%;
}
.carts-sidenav{
    border-right: 2px solid #e1dfdf;
}
.btn-width{
    width: 110px;
}
.producttitle {
    font-family: Roboto normal;
    font-size: 16px;
    margin-left: 5%;
    margin-top: 2%;
}
.productphotos-main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2.5%;
}
.image-card {
   padding: 2%;
    height: 220px;
    display: flex;
    justify-content: center;
}
.img1-txt {
    font-family: Roboto bold;
    font-size: 2rem;
}
.image-name {
    justify-content: center;
    display: flex;
}
.mobileonly{
    display: none;
}
.cartsmain{
    width: 75%;
}
/* for mobile  */
@media only screen and (max-width:412px) {
   
     /* main-1st cards starts */
    .productdetails{
        width: 100%;
        margin: 0;
  }
    .cards-main{
        flex-wrap: wrap;
        width: 100%;
        margin-left: 0%;
    }
    .image-card{
        height: 150px;
        width: 30%;
    }
    .productphotos-main{
        flex-wrap: nowrap;
    }
    .producttitle{
        max-height: 35px;
        overflow: hidden;
        font-size: 14px;
    }
    .webonly{
        display: none;
    }
    .mobileonly{
        display: flex;
    }
    .cartsmain{
        width: 100%;
    }
    .for-mobile-width-pro-details{
        width: 70%;
    }
      /* main-1st cards ends */
}
