/*                      general              */
.pad-5per{
  padding: 5%;
}
.dis-flex-between{
  display: flex;
  justify-content: space-between;
}

.success-message {
  background-color: #10cf0e;
  color: white;
  position: sticky;
  bottom: 20px;
  width: 100%;
  padding: 1%;
}
.success-orange{
  color: white;
  position: sticky;
  bottom: 20px;
  width: 100%;
  padding: 1%;
  background-color:rgb(255, 124, 54);
}
.bg-popup{
  background-color: #e5f2ff;
}
.ecommerce-shadowbtn-org {
  background-color: rgb(255, 124, 54);
  border: 2px solid transparent;
  color: white;
  transition: 0.25s ease;
  box-shadow: 3px 3px 5px #aaa;
  padding: 6px;
  min-width: 85px;
}

.ecommerce-shadowbtn-org:hover {
  box-shadow: 5px 5px 10px #aaa;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid rgb(255, 124, 54);
}

.ecommerce-shadowbtn-blue {
  background-color: rgb(85, 85, 233);
  border: 2px solid transparent;
  color: white;
  transition: 0.25s ease;
  box-shadow: 3px 3px 5px #aaa;
  padding: 6px;
  min-width: 85px;
}

.ecommerce-shadowbtn-blue:hover {
  box-shadow: 5px 5px 10px #aaa;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid rgb(85, 85, 233);
}

.bg-loader {
  background: #dce8f5;
}
.fade{
  opacity: 1;
}

/* ratings */
.onestar{
  background-color: red;
}
.twostar{
  background-color: rgb(114, 7, 7);
}
.threestar{
  background-color: orange;
}
.fourstar{
  background-color: rgb(115, 0, 255);
}
.fivestar{
  background-color: rgb(10, 200, 10);
}