/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

@font-face {
    font-family: 'Roboto bold';
    src: url('./assets/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto medium';
    src: url('./assets/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto normal';
    src: url('./assets/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto lightitalic';
    src: url('./assets/Roboto-LightItalic.ttf');
}

@font-face {
    font-family: 'Roboto mediumItalic';
    src: url('./assets/Roboto-MediumItalic.ttf');
}

@font-face {
    font-family: 'Roboto boldItalic';
    src: url('./assets/Roboto-BoldItalic.ttf');
}

.hand {
    cursor: pointer;
}


.pd-10 {
    padding: 10px;
}

.pd-20 {
    padding: 20px;
}
.pad-2per{
    padding: 2%;
}
.pad-left-3per{
    padding: 3%;
}
.pad-3per{
    padding: 3%;
}
.pad-btm-5per{
    padding-bottom: 5%;
}
.pad-btm-2per{
    padding-bottom: 2%;
}
.pad-inl-8per{
    padding-inline: 8%;
}
.opa-07{
  opacity: 0.5;
}
.lin-hig-2{
    line-height: 2;
}

.pt-lt-10 {
    padding-left: 10px;
}

.pt-lt-15 {
    padding-left: 15px;
}

.pt-lt-5 {
    padding-left: 5px;
}

.pt-tp-5 {
    padding-top: 5px;
}

.pt-tp-10 {
    padding-top: 10px;
}

.txt-centre {
    text-align: center;
}
.txt-end {
    text-align: end;
}
.pd-6px{
    padding: 6px;
}

.pd-lt-30 {
    padding-left: 30px;
}


.pd-lt-20 {
    padding-left: 20px;
}


/* loginComponent */
.dis-flx-jst-cntr {
    display: flex;
    justify-content: center;
}
.mar-btm-1per{
  margin-bottom: 1%;
}
.mar-btm-2per{
    margin-bottom: 2%;
  }
.mar-btm-3per{
    margin-bottom: 3%;
  }
.mar-3per{
    margin: 3%;
}  
.col-red{
    color: red;

}
.col-green{
    color: green;
}
.w-100 {
    width: 100%;
}
.w-10{
    width: 10%;
}
.w-30{
    width: 30%;
}
.w-25{
    width: 25%;
}.w-75{
    width: 75%;
}
.w-4 {
    width: 4%;
}
.w-90 {
    width: 90%;
}
.w-46{
    width: 46%;
}
.w-70{
    width: 70%;
}
.w-80{
    width: 80%;
}
.black {
    background: transparent;
    color: white;
    border: none;
}
.w-40{
    width: 40%;
}
.bor-none{
    border: none;
}
.mar-left-1per {
    margin-left: 1%;
}
.mar-left-2per {
    margin-left: 2%;
}
.mar-left-3per {
    margin-left: 3%;
}
.mar-left-5per {
    margin-left: 5%;
}

.mar-2 {
    margin: 2px;
}
.mar-inline-3per{
    margin-inline: 3%;
}
.mar-top-1per {
    margin-top: 1%;
}
.mar-top-2per {
    margin-top: 2%;
}
.mar-top-3per {
    margin-top: 3%;
}
.mar-top-8per {
    margin-top: 8%;
}

.dis-flex {
    display: flex
}

.imagesize {
    width: 100%;
    height: 100%;
}
.bor-50per{
    border-radius: 50%;
}
.bor-rad-10px{
    border-radius: 10px
}
.ali-items-centr{
  align-items: center;
}
.Rob-med-14 {
    font-family: Roboto medium;
    font-size: 14px;
}
.Rob-bold-16{
    font-family: Roboto bold;
    font-size: 16px;
}
.Rob-med-10{
    font-family: Roboto medium;
    font-size: 10px;
}

.Rob-nor-14 {
    font-family: Roboto normal;
    font-size: 14px;
}
.Rob-nor-16 {
    font-family: Roboto normal;
    font-size: 16px;
}
.Rob-nor-10 {
    font-family: Roboto normal;
    font-size: 10px;
}
.Rob-nor-11 {
    font-family: Roboto normal;
    font-size: 11px;
}
.Rob-med-18{
    font-family: Roboto medium;
    font-size: 18px;
}
.Rob-med-25{
    font-family: Roboto medium;
    font-size: 25px;
}
.Rob-med-16{
    font-family: Roboto medium;
    font-size: 16px;
}
.Rob-med-12{
    font-family: Roboto medium;
    font-size: 12px;
}
.mar-left-8per{
    margin-left: 8%;
}
.mar-left-40per{
    margin-left: 40%;
}
.col-white{
    color: white;
}
.bg-green{
    background:green
}
.bg-white{
    background:white
}

.lin-hig-nor{
    line-height: normal;
}
.text-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.disabled{
    pointer-events: none;
   
}
.disabled-opac50{
    pointer-events: none;
    opacity: 0.5;
}

/* ecommerce */
* body {
    margin: 0;
    border: border-box;
    font-family: Roboto normal;
    padding: 0;
    margin: 0;
}
html,
body {
    height: 100%;
}
/* ::-webkit-scrollbar {
    width: 10px;
    height: 6px;
    overflow: scroll;
    background: #ebe2e2;
   
}

::-webkit-scrollbar-thumb {
    background: #c6b8b8;
    border-radius: 10px;
} */
.pad-right-3per{
    padding-right: 3%;
}
.imagesizing {
    width: 100%;
    height: 100%;
    border-radius: 6px;
   
    /* border: 2px solid mediumslateblue; */
}
.ecommerce-btn-normal {
    background-color: rgb(200, 7, 181);
    border: 2px solid whitesmoke;
    color: white;
    padding: 6px;
    border-radius: 12px;
    font-family: Roboto medium;
    font-size: 15px;
    transition: all 0.5s;
    cursor: pointer;
    white-space: nowrap;
}

.ecommerce-btn-normal span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.ecommerce-btn-normal:hover span:after {
    opacity: 1;
    right: 0;
}

.ecommerce-btn-normal span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
}

.ecommerce-btn-normal:hover span {
    padding-right: 25px;
}
.link{
    color: blue;
}
.transparent-btn{
    background: transparent;
    border: none;
}
.dis-flex-around{
  display: flex;
  justify-content: space-around;
}
.dis-flex-between{
    display: flex;
    justify-content:space-between;
  }
.dis-flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

/* .noshow{
    display: none;
} */







.mobileonly{
    display: none;
}
.webonly{
    display: block;
}


@media only screen  and (max-width:412px) {
    .webonly{
        display: none;
    }
    .mobileonly{
        display: block;
    }
    /* ::-webkit-scrollbar {
        width: 0;
        height: 0;
        overflow: scroll;
        background: #ebe2e2;
       
    } */
}